.contacts {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1.5rem;
}

.icon {
    font-size: 3rem;
    color: var(--red);
}