.projects h2 {
    text-align: center;
}

.list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}